Question 1. Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in single line.
Example;
Input:
john@google.com
Output:
google

In [1]:
user_input = input("Enter the E-mail Address: ")
user_input

Enter the E-mail Address: Gurushantha_D@swissre.com

'Gurushantha_D@swissre.com'

In [2]:
company_name = user_input.split('@')[-1].split('.')[0]
print("The compnay name is: ",company_name)

The compnay name is:  swissre

Question 2:
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.
Input Format:
The first line of input contains words separated by the comma.
Output Format:
Print the sorted words separated by the comma.
Example:
Input:
without,hello,bag,world
Output:
bag,hello,without,world

In [37]:
lst = [item for item in input("Enter the list items : ").split()] 
lst

Enter the list items : hello apple bag test

['hello', 'apple', 'bag', 'test']

In [38]:
lst.sort()
print(lst)

['apple', 'bag', 'hello', 'test']

Question 3:
Create your own Jupyter Notebook for Sets.

Set is a collection of unordered and unique element list which are enclosed in curly brackets

In [5]:
a = {1, 3, 4, 5, 6,2,3}
a

{1, 2, 3, 4, 5, 6}

While printing Set contents it removes the duplicate entry

Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number
Example:
Input:1 2 4 6 3 7 8
Output:5
Explanation:
In the above list of numbers 5 is missing and hence 5 is the input

In [17]:
def find_missing(lst): 
    return [x for x in range(lst[0], lst[-1]+1)  
                               if x not in lst]   
lst = [1, 2, 4, 6, 7, 9, 10] 
print(find_missing(lst))

[3, 5, 8]

Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155
Explanation:
Third, seventh and ninth element of the list L has been removed because it was already present.
Input Format:
In one line take the elements of the list L with each element separated by a space.
Output Format:
Print the elements of the modified list in one line with each element separated by a space.
Example:
Input: 12 24 35 24
Output:
12 24 35

In [18]:
lst = [24,35,24,88,120,155,88,120,155]
lst

[24, 35, 24, 88, 120, 155, 88, 120, 155]

In [20]:
new_lst = set(lst)
new_lst

{24, 35, 88, 120, 155}